
<div class="row" style="width: 100%;margin-bottom: 10px">
  <div class="center col-sm-8">
    <h1 style="color: #429342">{{availableBalance | number |currency:'USD'}}</h1>
  </div>
  <div class="col-sm-4" >
    <button mat-raised-button  (click)="openModal(template)" >Add Money</button>
    <div class="space" style="width: 15px"></div>
    <button mat-raised-button class="delete-button"  (click)="openModal(withdrawtemplate)">Withdraw Money</button>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Money
    </h4>
    <button  mat-raised-button class="delete-button" type="button" (click)="modalRef.hide()">Close</button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addMoney()">
      <div class="form-group" >
        <label for="amount">Enter the Amount</label>
        <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="amount">
      </div>
      <button mat-raised-button [disabled]="amount <= 0" type="submit" color="primary">Add Money</button>
    </form>
  </div>
</ng-template>


<ng-template #withdrawtemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Withdraw Money
    </h4>
    <button  mat-raised-button class="delete-button" type="button" (click)="modalRef.hide()">Close</button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="withDrawMoney()">
      <div class="alert alert-danger" role="alert" [hidden]="!hasError">
        You do not have enough funds to withdraw.
      </div>
      <div class="form-group" >
        <label for="amount">Enter the Amount</label>
        <input type="text" class="form-control" id="withDrawAmount" name="amount" [(ngModel)]="withDrawAmount">
      </div>
      <button mat-raised-button [disabled]="withDrawAmount <= 0" color="primary" type="submit" >Withdraw Money</button>
    </form>
  </div>
</ng-template>


<transaction-component style="width: 100%"></transaction-component>
