<h3>Transaction History</h3>
<table class="table">
  <tr>
    <td>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Stock Name</th>
          <th scope="col">At price</th>
          <th scope="col">Units</th>
          <th scope="col">Expiry date</th>
          <th scope="col">Transaction type</th>
          <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of scheduledTransactions; index as i" >
          <th scope="row">{{i+1}}</th>
          <th>{{transaction.companyName}}</th>
          <td>{{transaction.desiredPrice | number:'1.3-3'|currency:'USD' }}</td>
          <td>{{transaction.desiredUnits}}</td>
          <td>{{transaction.expiryDate | date : 'medium'}}</td>
          <td>{{getTransactionMode(transaction)}}</td>
          <td><button mat-raised-button class="delete-button" (click)="deleteScheduledTransaction(transaction)">Cancel</button> </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
