<script src="user.dashboard.component.ts"></script>

<table class="table">
  <tr>
    <td>
      <div class="row" style="width: 100%;margin-bottom: 10px" *ngIf="utilityService.isUser()">
        <div class="center col-sm-12">
          <h1 style="color: #429342">{{availableBalance | number |currency:'USD'}}</h1>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Stock Name</th>
          <th class="price" scope="col">Price</th>
          <th scope="col">Ticker</th>
          <th scope="col">High/Low/Open</th>
          <th scope="col">Volume</th>
          <th *ngIf="utilityService.isUser()" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let addedStocks of stocks; index as i">
          <th scope="row">{{i+1}}</th>
          <th>{{addedStocks.companyName}}</th>
          <td class="price">{{addedStocks.initialPrice | number:'1.3-3' | currency:'USD' }}
            <span class="material-icons" style="color:green" *ngIf="increase(addedStocks)">arrow_drop_up</span>
            <span class="material-icons" style="color:red" *ngIf="!increase(addedStocks)">arrow_drop_down</span>
          </td>
          <td>{{addedStocks.stockTicker}}</td>
          <td>
            {{addedStocks.highestPrice | number:'1.3-3' | currency:'USD' }}/
            {{addedStocks.lowestPrice | number:'1.3-3' | currency:'USD' }}/
            {{addedStocks.startingPrice | number:'1.3-3' | currency:'USD' }}
          </td>
          <td>{{addedStocks.volume}}</td>
          <td *ngIf="utilityService.isUser()"><button [disabled]="addedStocks.volume==0" mat-raised-button (click)="buyStock(addedStocks)">Select</button></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td id="divider" *ngIf="utilityService.isUser()">
      <stock-transaction [currentStock]="currentStock" (currentStockChanged)="UpdateCurrentStock($event)" [toSell]="false"></stock-transaction>
    </td>
  </tr>
</table>

