



<table class="table">
  <tr>
    <td style="width: 75%;">
      <h3>Available Stocks</h3>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Stock Name</th>
          <th scope="col">Price</th>
          <th scope="col">Ticker</th>
          <th scope="col">Volume</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let addedStocks of stocks; index as i" >
          <th scope="row">{{i + 1}}</th>
          <th>{{addedStocks.companyName}}</th>
          <td>{{addedStocks.initialPrice | number : '1.3-3' | currency:'USD'}}</td>
          <td>{{addedStocks.stockTicker}}</td>
          <td>{{addedStocks.volume}}</td>
        </tr>
        </tbody>
      </table>

    </td>
    <td id="divider" >
      <table class="table" >
      <tr>
        <td class="stock-time">
          <h3>Add Stock</h3>
          <mat-card class="my-card">
            <mat-card-content>
              <form (ngSubmit)="addStock()" class="my-form">
                <mat-form-field class="full-width">
                  <mat-label>Company Name</mat-label>
                  <input required  matInput  placeholder="Enter Company Name" name="companyname" [(ngModel)]="stock.companyName"/>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Ticker</mat-label>
                  <input required  matInput  placeholder="Enter Ticker Value" name="ticker" [(ngModel)]="stock.stockTicker"/>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Volume</mat-label>
                  <input required type="number" min="0" matInput  placeholder="Enter Volume" name="volume" [(ngModel)]="stock.volume"/>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Initial price</mat-label>
                  <input required type="number" min="0" matInput  placeholder="Initial price" name="initialPrice" [(ngModel)]="stock.initialPrice"/>
                </mat-form-field>
                <div></div>
                <button mat-raised-button type="submit" color="primary">Add Stock</button>
              </form>
            </mat-card-content>
          </mat-card>
        </td>
       </tr><tr>
        <td class="stock-time">
          <market-hours></market-hours>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
